.webDesign__container{
    background-color: #14304a;
    display: column;
    justify-content: left;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
.webDesign__banner-container{
    background-image: url(/src/components/CSSbg/webBG.jpg);
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
    padding: 15px;
    padding-bottom: 16px;
    display:flex;
    justify-content: flex-start;
}

.webDesign__banner-text-wrapper{
    background: rgba(0,0,0,0.4);
    padding-left: 40px;
    margin-right: inherit;
    max-width: 555px;
    display: column;
}

.webDesign__banner-text-wrapper h1 {
    color: #f8f8ff;
    padding-top:20px;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.webDesign__banner-text-wrapper >p {
    flex-wrap: wrap;
    color:#EDD067;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
    padding-top: 50px;
    /* animation effect */
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
}

.webDesign__col{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;   
}



.webDesign__web-text-wrapper{
    max-width: 30%;
    padding: 10px;
}

.webDesign__web-img-wrapper{
    padding-right: 0;
    padding-top: 15px;
    margin: 0 0 0 10px;
    max-width: 555px;
    padding-bottom: 15px;
}

.heading{
    font-size: 30px;
}

.description{
    font-size: 24px;
    color: #EDD067;
}

/*screen modify*/

@media screen and (max-width:991px){
    .container{
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:768px){

    .webDesign__col{
        padding: 10px;
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center
    }

    .webDesign__web-text-wrapper{
        max-width: 100%;
    }

}
